# Environment & Secrets
.env
*.env.local

# Python Caches & Virtual Envs
__pycache__/
*.pyc
.venv/
venv/
*.pyo

# Node / Frontend Build Artifacts
node_modules/
dist/
build/

# OS / IDE Junk
.DS_Store
.vscode/
.idea/